<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title or "نظام إدارة فحوص المياه" }}</title>
  <!-- كسر كاش -->
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}?v=15">
    <link rel="stylesheet" href="{{ url_for('static',filename='style-login.css') }}?v=15">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style-login.css') }}?v=7">
    <link rel="stylesheet" href="{{ url_for('static', filename='style-customer.css') }}">



</head>

<body class="{{ body_class|default('') }}">
  <main class="shell">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="flash-stack">
        {% for cat, msg in messages %}
          <div class="flash {{ cat }}">{{ msg }}</div>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </main>
{% set bc = body_class|default('') %}
{% if 'customer-' in bc or 'customer-shell' in bc %}
  {% include 'partials_footer_customer.html' %}
{% endif %}
</body>
</html>
