{% extends "base.html" %}
{% set is_auth = True %}
{% set body_class = "auth-choose-page" %}
{% if is_auth %}{% include "partials_footer_auth.html" %}{% endif %}
{% block content %}
<h1>تواصل معنا</h1>
<p>يمكنك التواصل عبر القنوات الرسمية:</p>
<ul>
  <li>تويتر: <a href="https://x.com/mewa_ksa" target="_blank" rel="noopener">@mewa_ksa</a></li>
  <li>إنستغرام: <a href="https://www.instagram.com/mewa_ksa/" target="_blank" rel="noopener">@mewa_ksa</a></li>
</ul>
<p>كما يمكنك إرسال رسالة عبر نموذج الشكاوى.</p>
{% endblock %}
